<launch>
    <!-- ROS Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="ledvo_master" args="manager" output="screen">
            <rosparam command="load" file="$(find vdo)/launch/configs/LEDVO_pose_estimation.yaml" />
    </node> 

    <!-- LedNodelet -->
    <node pkg="nodelet" type="nodelet" name="led" args="load ledvo/LedNodelet ledvo_master" output="screen">
        <rosparam command="load" file="$(find vdo)/launch/configs/LED_SUBPUB_topics.yaml" />
        <param name="pt_file_loc" type="string" value="$(find vdo)/launch/model/model_cpp.pt"/>
    </node> 
</launch>

