<launch>
    <!-- VIO through flvis -->
    <!-- <include file="$(find flvis)/launch/flvis_d455_depth.launch"/> -->


    <!-- ROS Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="ledvo_master" args="manager" output="screen">
            <rosparam command="load" file="$(find visual_odometry)/launch/configs/LEDVO_pose_estimation.yaml" />
    </node> 

    <!-- LedNodelet -->
    <node pkg="nodelet" type="nodelet" name="led" args="load ledvo/LedNodelet ledvo_master" output="screen">
        <rosparam command="load" file="$(find visual_odometry)/launch/configs/LED_SUBPUB_topics.yaml" />
    </node> 

</launch>

